@import url('https://fonts.googleapis.com/css?family=Ranga');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

body {
	background: rgb(18,17,26);
	font-size: 16px;
}

#header {
	background: transparent;
	height:250px;
	max-height: 50%;
	min-height: 200px;
	width: 100%;
}
	#brand {
		background: transparent;
		color: white;
		display: table;
		font: 400 4em 'Ranga', 'Dancing Script', Helvetica;
		height: 100%;
		text-align: center;
		width: 100%;
	}
		.logo {
			background: transparent;
			display: table-cell;
			vertical-align: middle;
			width: 100%;
		}